body{
    background-color: rgb(7, 243, 66);
    color:rgb(124, 89, 55);
}
.heading{
    width: 80%;
    font-size:40px ;
}
.name_objects{
    color: rgb(48, 6, 233);
}
#camera{
    width: 300px;
    height: 300px;
    border:2px dashed coral;
}

#Object_name{
    color: rgb(20, 53, 97);
}

#Accuracy{
    color: rgb(20, 53, 97);
}

.footer{
    position: fixed;
    bottom:0;
    width:100%;
    text-align: center; 
     font-size: 20px;
    color:whitesmoke;
    padding: 5px;
}